@model IEnumerable<JukeBox1.Models.PlaylistsModels>
@{
    ViewBag.Title = "SavedPlaylists";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Opgeslagen afspeellijsten</h2>
<table class="table">
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.ActionLink(@item.PlaylistName, "GetUserPlaylistSongs", "Playlist", new { ids = item.SongsIds, playlistId = item.Id }, null)
            </td>
            <td>
                @Html.ActionLink("Verwijder", "DeletePlaylist", "Playlist", new { playlistId = item.Id}, null) 
            </td>
        </tr>
            }
    </table>

