@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>JukeBox</h1>
    <p class="lead">Stel je playlist samen!</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Bekijk alle genres!</h2>
        <p><a class="btn btn-default" href="@Url.Action("Genres", "Genres")">Genres &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Bekijk alle liedjes!</h2>
        <p><a class="btn btn-default" href="@Url.Action("Songs", "Songs")">Liedjes &raquo;</a></p>
    </div>
</div>